
<section class="banner">
    <img src="assets/contactus.jpg" alt="" style="width: 100%;">
    <h2>Contact Us</h2>
</section>
<div class="container py-5">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="Phone">Email</label>
                    <input type="email" class="form-control" id="">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="" id="" rows="5" class="form-control" style="resize: none;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-6">
            <h2>Location</h2>
            <pre>
No.1 Yingxin Road,
Minsheng Industry Park,
Xin Qiao Town, Jingjiang Taizhou, 
Jiangsu, China
            </pre>
        </div>
    </div>
</div>