<section>
    <div class="banner">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- <img src="" alt="" style="width: 100%;"> -->
                <img src="assets/lpg-cylinders.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/lpg-cylinders2.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>
    <section class="cards-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Project</h5>
                            <h6 class="card-subtitle mb-2 text-muted">About LPG Project</h6>
                            <p class="card-text">Energy is sometimes referred to as an “endless growth” industry with an insatiable appetite for natural and financial resources. Despite sustained and targeted efforts – including technological development - it is estimated that up to two billion... </p>
                            <a routerLink="/project" class="card-link">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Process</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Complete Products Description</h6>
                            
                            <ul>
                                <li>Body Material Manufactures</li>
                                <li>Body Steel BSI Specification</li>
                                <li>Deep Drawing</li>
                                <li>Markings</li>
                                <li>Bung Welding</li>
                                <li>`C’ Welding</li>
                            </ul>
                            <a routerLink="/process" class="card-link">Know More</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-md-0 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Plant</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Plant Details</h6>
                            <ul>
                                <li>Area</li>
                                <li>Description</li>
                                <li>Total Investment </li>
                                <li>Locational and Natural Advantages</li>
                                <li>Objectives</li>
                                <li>Thrust Areas</li>
                            </ul>
                            <a routerLink="/plant" class="card-link">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="border: 0 none;">
                    <div class="card-body">
                      <h5 class="card-title" style="font-size: 32px;">About Us</h5>
                      <p class="card-text text-justify pt-3">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5" style="BACKGROUND: rgb(0 0 0 / 5%);">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="border: 0 none; background: transparent;">
                    <div class="card-body">
                      <h5 class="card-title">Market Potential</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>
            <div class="col-auto text-right">
                <div class="side-image">
                    <img src="assets/market-potential.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-auto text-right">
                <div class="side-image">
                    <img src="assets/employment.jpg" alt="">
                </div>
            </div>
            <div class="col">
                <div class="card" style="border: 0 none;">
                    <div class="card-body">
                      <h5 class="card-title">Employment</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Know More</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>