<footer>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="logo-wrapper">
                    <img src="assets/pollard-logo.png" alt="" class="logo">
                </div>
                <div class="d-block mt-3 text-justify">
                    Minsheng are specialists in the field of the gas cylinder ,gas cylinder valve, gas regulator and pressure vessels. We provide professional and comprehensive solutions for our global customers in the fields of energy, gas storage ,petrochemicals, pharmaceuticals, medical, metal processing and manufacturing, food beverage, military industry, scientific research, refrigeration, semiconductor, pipeline leak detection, superconducting experiments, deep-sea diving, high-precision welding and many other industries.
                </div>
            </div>
            <div class="col-4">
                <div class="map">
                    <h2>Map</h2>
                </div>
            </div>
            <div class="col-3">
                <div class="contact-info">
                    <h2>Contact Info</h2>
                    <p>No.1 Yingxin Road,Minsheng Industry Park,Xin Qiao Town, Jingjiang Taizhou, Jiangsu, China</p>
                </div>
            </div>
        </div>
    </div>
</footer>